#hero {
  background-color: #f6ebd9;
  padding: 3rem 0;
  text-align: center;
}

#hero h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #6c5d47;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.funcionalidade-margin{
    margin-top: 25px;
}
