<div class="container-login">

  <div id="login" style="background-color: #e37b58bd; width: 50%; ">
    <div class="login-margin">

      <h2 class="text-3xl font-semibold mb-6">Login/Cadastro</h2>
      <form id="loginForm" class="space-y-4">
        <div>
          <input type="email" id="email" placeholder="Email" class="w-full p-3 border border-gray-300 rounded">
        </div>
        <div>
          <input type="password" id="password" placeholder="Senha" class="w-full p-3 border border-gray-300 rounded">
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white p-3 rounded hover:bg-blue-600 transition">Entrar</button>
      </form>
      <p class="mt-4">Não tem uma conta? <a href="#" class="text-blue-500 hover:underline">Cadastre-se aqui</a></p>
    </div>
    </div>

  <div style="background-color: #99e193; width: 50%" >
    <div class="cadastro">

      <h3>Cadastre-se</h3>
      <div>
        <label>
          Nome Completo:
        </label>
        <input id="nome" />
      </div>

      <div>
        <label>
          Telefone:
        </label>
        <input id="telefone" />
      </div>

      <div>
        <label>
          e-mail:
        </label>
        <input id="email" />
      </div>
    </div>
  </div>
</div>
