<div class="container-login">

  <div id="login" style="">
    <div class="login-margin">

      <h2 class="text-3xl font-semibold mb-6">Login</h2>
      <form id="loginForm" class="space-y-4">
        <div>
          <input type="email" id="email" placeholder="Email" class="">
        </div>
        <div class="password">
          <input type="password" id="password" placeholder="Senha" class="">
        </div>
        <button type="submit" class="">Entrar</button>
      </form>
      <p class="mt-4">Não tem uma conta? <a href="#" class="text-blue-500 hover:underline">Cadastre-se aqui</a></p>
    </div>
    </div>

  <div id="cadastro-login" style="" >
    <div class="cadastro">

      <h3>Cadastre-se</h3>
      <div>
        <input id="nome" placeholder="digite seu nome" />
      </div>

      <div>
        <input id="telefone" class="password" placeholder="digite seu telefone" />
      </div>

      <div>
        <input id="email" placeholder="digite seu email" />
      </div>
      <button type="submit" class="password">Cadastrar</button>
    </div>
  </div>
</div>
