.container-login {
  display: flex;
  //padding: 20px;
  margin: 10px;
  border: 2px
}

.cadastro {
  text-align: center;
}

.login-margin {
  text-align: center;
}

#login {
  background-color: #e37b58bd;
  width: 50%;
  border-radius: 15px;
  margin-right: 20px;
}

#cadastro-login {
  background-color: #99e193;
  width: 50%;
  border-radius: 15px;
  //margin: 20px;
}

.password {
    margin-top: 10px;
    margin-bottom: 10px;
}
