
<div style="text-align:center">
<section id="mapa" class="container mx-auto p-8 bg-white shadow-md rounded my-8">
  <h2 class="text-3xl font-semibold mb-6">Mapa de Acomodações</h2>
</section>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127639.20933973578!2d-48.529436860672206!3d-1.341178935266538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92a461af84756ce1%3A0x570d540215864c35!2zQmVsw6ltLCBQQQ!5e0!3m2!1spt-BR!2sbr!4v1729829778392!5m2!1spt-BR!2sbr"
          width="600" height="450" style="border:0;"
          allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
